* {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  max-width: 1400px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: inherit;
}

.header {
  display: flex;
  font-weight: 400;
  color: black;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header_nav ul {
  display: flex;
  flex-direction: row;
  padding-inline-start: 0;
  gap: 0.7rem;
}
.header_nav_link {
  font-size: 0.7em;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform 150ms ease-in-out;
}
.header_nav_link:hover {
  transform: scale(1.05);
}
.header_nav_link_active {
  text-decoration: underline;
}
.header_logo img {
  width: 140px;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .header_nav ul {
    gap: 2rem;
  }
  .header_nav_link {
    font-size: 1.1em;
    text-transform: capitalize;
  }
  .header_logo img {
    width: 130px;
  }
}
@media (min-width: 993px) {
  .header_nav ul {
    gap: 4rem;
  }
  .header_nav_link {
    font-size: 1.3em;
    text-transform: capitalize;
  }
  .header_logo img {
    width: 170px;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.8em;
}
.banner_title {
  color: white;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  z-index: 1;
  width: 70%;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .banner_title {
    padding: 1em;
    text-align: center;
  }
}
@media (min-width: 993px) {
  .banner_title {
    text-align: center;
    font-size: 45px;
  }
}
.banner_img {
  position: relative;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 8em;
  border-radius: 15px;
  filter: brightness(65%);
}
@media (min-width: 993px) {
  .banner_img {
    height: 11em;
  }
}

.img_banner_about img {
  height: 18em;
}
@media (min-width: 993px) {
  .img_banner_about img {
    height: 12em;
  }
}

.footer {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 190px;
}
.footer_img {
  width: 110px;
}
.footer p {
  font-size: 10px;
  color: white;
}
@media (min-width: 993px) {
  .footer {
    flex-wrap: wrap;
    gap: 15px;
  }
  .footer_img {
    width: 80px;
  }
  .footer p {
    font-size: 15px;
  }
}

@media (min-width: 993px) {
  .error_container {
    margin: 40px 60px 40px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .error_container {
    margin: 20px 40px 40px;
  }
}
@media screen and (max-width: 768px) {
  .error_container {
    margin: 15px 25px 20px;
  }
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FF6060;
  margin-bottom: 100px;
}
.error_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error_title h1 {
  font-size: 250px;
  font-weight: 700;
  margin: 50px 0 10px;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .error_title h1 {
    font-size: 150px;
  }
}
@media screen and (max-width: 768px) {
  .error_title h1 {
    font-size: 100px;
  }
}
.error_title p {
  font-size: 30px;
  text-align: center;
  margin: 0 2em 0;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .error_title p {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .error_title p {
    font-size: 15px;
  }
}
.error a {
  margin-top: 7em;
  text-decoration: underline;
  font-size: 15px;
  color: black;
}
@media screen and (max-width: 768px) {
  .error a {
    margin-top: 10em;
    font-size: 12px;
  }
}

@media (min-width: 993px) {
  .about {
    margin: 40px 60px 40px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .about {
    margin: 20px 40px 40px;
  }
}
@media screen and (max-width: 768px) {
  .about {
    margin: 15px 25px 20px;
  }
}

.about_collapses {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .about_collapses {
    width: 85%;
    margin: 2em auto;
  }
}
@media (min-width: 993px) {
  .about_collapses {
    width: 85%;
    margin: 1.5em auto;
  }
}

@keyframes slide {
  0% {
    overflow: hidden;
    max-height: 0%;
    opacity: 0;
  }
  100% {
    max-height: 100%;
    opacity: 1;
  }
}
.collapses {
  margin-top: 1.7em;
  width: 100%;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .collapses {
    margin-top: 0;
  }
}
@media (min-width: 993px) {
  .collapses {
    margin-top: 0;
  }
}

.collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
.collapse_button {
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.2rem;
  padding: 0 1.2em;
  background-color: #FF6060;
  border-radius: 8px;
}
.collapse_button h2 {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
}
.collapse_button .arrow-container {
  margin-left: auto;
}
.collapse_button .arrow-container .arrow {
  display: flex;
  font-size: 1.7em;
  color: white;
}
.collapse_button .arrow-container-up {
  transform: rotate(180deg);
}
.collapse_content {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 30px;
  margin-top: -0.7em;
  padding: 1.5em 1em 0.5em;
  color: black;
  background-color: #F6F6F6;
  border-radius: 8px;
  animation: slide 0.7s ease-in-out;
}

/*# sourceMappingURL=main.css.map */
